@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
:root{
	--main-color: #ea445a;
	--text-color: #FFFFFF;	

	--second-color: #01D4FF ;
	--bg-color: #000000;
	--shadow-color : rgba(255, 250, 250, 0.1);

	--big-font: 50pt;
	--middle-font: 25pt;
	--small-font: 12pt;
	--p-font : 1.1rem;
}
.dark {
	--text-color: #000000;
	--bg-color: #FAFAFA;
	--shadow-color : rgba(0,0,0,0.1);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:'Poppins',cursive;
	font-size: var(--p-font);
	font-weight: 600;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	color: var(--text-color);
	transition: all .05s ease;
}

body{
	/* background: var(--bg-color); */
	overflow-x: hidden;
	color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 900px) { 
	:root{
		--big-font: 40pt;
		--middle-font: 20pt;
		--small-font: 10pt;
	}
}
@media (max-width: 600px) {
	:root {
		--big-font: 30pt;
		--middle-font: 15pt;
		--small-font: 10pt;
	}
}
@media (max-width : 400px) {
	:root {
	  --big-font :20pt;
	}
  }