@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
	--main-color: #ea445a;
	--text-color: #FFFFFF;	
	--second-color: #01D4FF;
	--bg-color: #000000;
	--shadow-color : rgba(255, 255, 255, 0.1);
	--shadow-color_ : rgba(0,0, 0, 0.6);
	--big-font: 50pt;
	--middle-font: 25pt;
	--small-font: 12pt;
	--p-font : 1.1rem;
}
.dark {
	--text-color: #000000;
	--bg-color: #FAFAFA;
	--shadow-color : rgba(0,0,0,0.1);
	--shadow-color_ : rgba(255, 255, 255, 0.6);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: var(--p-font);
	font-weight: 600;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	color: var(--text-color);
	transition: all .05s ease;
}

body{
	overflow-x: hidden;
	color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 900px) { 
	:root{
		--big-font: 40pt;
		--middle-font: 20pt;
		--small-font: 10pt;
	}
}
@media (max-width: 600px) {
	:root {
		--big-font: 30pt;
		--middle-font: 15pt;
		--small-font: 10pt;
	}
}
@media (max-width : 400px) {
	:root {
	  --big-font :20pt;
	}
  }