@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
:root{
	--text-color: #000000;
	--main-color: #ea445a;
	--second-color: #01D4FF ;
	--bg-color: #FAFAFA;
	--shadow-color : rgba(0,0,0,0.1);
	--big-font: 3.5rem;
	--middle-font: 2.5rem;
	--small-font: 1.1rem;
	--p-font : 1.1rem;
}
.dark {
	--text-color: #FFFFFF;	
	--bg-color: #000000;
	--shadow-color : rgba(255, 250, 250, 0.1);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", monospace;
	font-size: var(--p-font);
	font-weight: 700;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	transition: all .05s ease;
}

body{
	/* background: var(--bg-color); */
	overflow-x: hidden;
	background-image: linear-gradient(5deg, var(--second-color) -120%, var(--bg-color));	
	color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 900px) { 
	:root{
		--big-font: 2rem;
		--middle-font: 1.1rem;
		--small-font: 0.5rem;
	}
}
@media (max-width: 600px) {
	:root {
		--big-font: 1.5rem;
		--middle-font: 0.8rem;
		--small-font: 0.3rem;
	}
}