/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-around;
  background-color: var(--bg-color);
  align-items: center;
  width: 100%;
  height: 75px;
  box-shadow: 0px 14px 15px var(--shadow-color);
}
.logoNavbar {
  display: flex;
  align-items: center;
  justify-content: start;
}
.textLogo {
  display: flex;
}
.textLogo p {
  font-family: cursive;
  padding: 0 5px 0 0;
}
.navLinks {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  transition: all 0.05s ease;
}
.navLink {
  transition: all 0.5s ease;
}
.navLink:hover {
  color: var(--main-color);
  transition: all 0.5s ease;
}
.buttonsNavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Menu {
  display: none;
  transition: all 0.05s ease;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HOME */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
section {
  padding: 80px 0 0;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    0deg,
    var(--second-color) -120%,
    var(--bg-color)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.homeup {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-text {
  width: 60%;
  z-index: 1;
}
.FullName {
  font-size: var(--big-font);
  display: flex;
  flex-direction: column;
}
.Let {
  font-size: var(--middle-font);
}
.home-text p {
  font-size: var(--small-font);
  font-weight: 100;
  text-align: justify;
  max-width: 600px;
}
span {
  color: var(--main-color);
}
span:hover {
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg);
}
.home-img {
  position: relative; /* This allows the shape to be positioned relative to this container */
  width: 30%;
}

.Image {
  position: relative; /* Keeps the image in normal flow */
  z-index: 10; /* Places the image above the shape */
  border-radius: 50%;
}

.shape {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 0;
  width: 100%;
}
.vector01 {
  position: absolute;
  top: 20%;
  right: 50%;
}
.vector02 {
  position: absolute;
  top: 40%;
  right: 5%;
}
.vector03 {
  position: absolute;
  top: 60%;
  right: 70%;
}
.vector04 {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Icons */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  animation: moveLeftToRight 30s linear infinite;
}
.icons:hover .icon {
  animation-play-state: paused; /* Pause animation on hover */
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(1500%);
  }
  50% {
    transform: translateX(-1500%);
  }
  100% {
    transform: translateX(1500%);
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* AboutMe */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.about-me .img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-me .container {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 5%;
}

.about-me {
  background-image: linear-gradient(
    180deg,
    var(--second-color) -120%,
    var(--bg-color)
  );
}
.about-me .about-me-container {
  position: relative;
}
.about-me-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}
.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-color: #013747;
  width: 80%;
  height: 80%;
}
.about-me-flex-container .about-me-image .black-image {
  z-index: 0;
  position: absolute;
  height: 100%;
}
.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
  border-radius: 20px;
}
.about-me-flex-container .about-me-image .main-image {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image:hover {
  transform-origin: top center;
  transform: scale(1.5);
  border-radius: 25px;
}
.about-me-flex-container .about-me-image .main-image img {
  transform-origin: center center;
  transform: scale(2);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image img:hover {
  transform: scale(1);
}
.about-me-flex-container .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}
.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}
.about-me-flex-container .about-me-content .text {
  color: var(--text-color);
  text-align: justify;
  font-weight: 600;
  font-size: 18px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* MySkills */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.skills {
  background-color: var(--bg-color);
}
.title {
  font-weight: 800;
  font-size: var(--title-font);
  margin: 0 0 0 10%;
  font-weight: 700;
}
h1 .title {
  margin: 0;
}
.skills .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 6% 0 6%;
  padding: 30px;
}

.skills .container .card {
  /* position: relative; */
  width: 80px;
  height: 70px;
  background-image: linear-gradient(
    180deg,
    var(--main-color) 10%,
    var(--bg-color)
  );
  margin: 30px 10px;
  padding: 20px 15px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px var(--shadow-color);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.skills .container .card:hover {
  min-height: 170px;
}
.infoup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card .content {
  position: relative;
  top: 0px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* MyWorks */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.works {
  background-color: var(--bg-color);
}
.works .container {
  /* position : relative; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}
.projet {
  --img-scale: 1.001;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  max-width: 400px;
  min-height: 350px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-radius: 16px;
  box-shadow: none;
  background-image: linear-gradient(
    180deg,
    var(--second-color) 10%,
    var(--bg-color)
  );
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
/* basic article elements styling */
.projet h2 {
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--text-color);
  transition: color 0.3s ease-out;
}
.projet-body p {
  margin-top: -60px;
  display: none;
  transition: transform 0.4s ease-in-out;
}
.projet figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 18 / 9;
  overflow: hidden;
}

.projet .img {
  width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}
.projet-body {
  text-align: justify;
  padding: 5px 24px;
}

.projet a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
}

.projet a:focus {
  outline: 1px dotted var(--main-color);
}

.projet a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}
.projet:has(:hover, :focus) {
  --img-scale: 1.1;
  --link-icon-opacity: 1;
  --link-icon-translate: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.projet :hover .projet-body p {
  margin-top: 0px;
  display: block;
  transition: transform 0.4s ease-in-out;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ContactMe */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.contactMe {
  background-color: var(--bg-color);
  padding-bottom: 50px;
}
.contactMe .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.text-containe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  max-width: 40%;
}
.icons-contiane {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 10%;
  align-items: start;
  max-height: 200px;
}
.link-contact {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}
.icon-contact {
  border-radius: 50%;
  margin: 5px;
  text-align: center;
}
.icon-contact svg {
  width: 40px;
  height: 40px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionFooter {
  background-color: var(--bg-color); 
  position: relative;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.background {
  position: absolute;
  bottom: 0;
}
.links {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.links li {
  margin: 20px;
}
.links li:hover {
  color: var(--main-color);
}
.legal {
  color: #aaa;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 900px) {
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* NAVBAR */
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .navLinks {
    display: none;
    transition: all 0.5s ease;
  }
  .openMenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    top: 75px;
    left: 0;
    align-items: center;
    padding: 0 50px;
    box-shadow: 35px 3px 15px var(--shadow-color);
  }
  .navLink {
    float: none;
    display: block;
    margin: 25px 0;
    padding: 5px 0 10px 0;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #aaa;
  }
  .Menu {
    display: block;
    transition: all 0.05s ease;
  }
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Home */
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .home {
    min-height: 525px;
  }

  .icons .icon {
    animation: moveLeftToRight 40s linear infinite;
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(50%);
    }
    50% {
      transform: translateX(-1750%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  .vector01 {
    position: absolute;
    top: 12%;
    right: 50%;
  }
  .vector03 {
    position: absolute;
    top: 30%;
    right: 45%;
  }
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* AboutMe */
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width: 600px) {
  .icons .icon {
    animation: moveLeftToRight 50s linear infinite;
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(1100%);
    }
    50% {
      transform: translateX(-2250%);
    }
    100% {
      transform: translateX(1100%);
    }
  }
  .homeup {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .home-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .home-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
  .vector01 {
    position: absolute;
    top: 15%;
    right: 80%;
  }
  .vector02 {
    position: absolute;
    top: 15%;
  }
  .vector03 {
    display: none;
  }

  .vector04 {
    position: absolute;
    top: 0;
    left: 30%;
  }
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* AboutMe */
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
  }
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
  }
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
  .contactMe .container {
    flex-direction: column;
  }
  .text-containe {
    max-width: 100%;
    margin: 0 6%;
  }
  .icons-contiane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 6%;
    padding: 10px 0;
  }
  .links {
    flex-direction: column;
  }
  .links li {
    margin: 10px 0;
  }
}
